/* Copyright © Blacksuan19 @ 2020 */
/* part of Material Ocean Color Scheme */

:root {
  --theme_dark--main: #0f111a;
  --theme_dark--sidebar: #00010a;
  --theme_dark--overlay: rgba(15, 15, 15, 0.6);
  --theme_dark--dragarea: #0d0d0d;

  --theme_dark--scrollbar: #00010a;
  --theme_dark--scrollbar_hover: #ff4151;

  --theme_dark--card: #00010a;
  --theme_dark--gallery: #00010a;
  --theme_dark--table-border: rgba(255, 255, 255, 0.1);
  --theme_dark--interactive_hover: #0f111a77;
  --theme_dark--button_close: #ff4151;

  --theme_dark--selected: rgba(255, 65, 81, 0.2);
  --theme_dark--primary: #ff4151;
  --theme_dark--primary_hover: #ff4151;
  --theme_dark--primary_click: #00010a;
  --theme_dark--primary_indicator: #ff4151;

  --theme_dark--option_active-background: var(--theme_dark--primary);
  --theme_dark--option_hover-background: var(--theme_dark--primary_hover);

  --theme_dark--danger_text: #eb5757;
  --theme_dark--danger_border: rgba(235, 87, 87, 0.5);

  --theme_dark--text: #ffffff;
  --theme_dark--text_ui: #e0e0e0;
  --theme_dark--text_ui_info: #e0e0e0;

  --theme_dark--text_gray: #e0e0e0;
  --theme_dark--text_brown: #d8b6a6;
  --theme_dark--text_orange: #fde3c0;
  --theme_dark--text_yellow: #ebcb8b;
  --theme_dark--text_green: #a3be8c;
  --theme_dark--text_blue: #81a1c1;
  --theme_dark--text_purple: #b48ead;
  --theme_dark--text_pink: #ffc0cb;
  --theme_dark--text_red: #bf616a;

  --theme_dark--select-text: #0f111a;
  --theme_dark--select_gray: #e0e0e0;
  --theme_dark--select_brown: #d8b6a6;
  --theme_dark--select_orange: #fde3c0;
  --theme_dark--select_yellow: #ebcb8b;
  --theme_dark--select_green: #a3be8c;
  --theme_dark--select_blue: #81a1c1;
  --theme_dark--select_purple: #b48ead;
  --theme_dark--select_pink: #ffc0cb;
  --theme_dark--select_red: #bf616a;

  --theme_dark--bg-text: var(--theme_dark--select-text);
  --theme_dark--bg_gray: var(--theme_dark--select_gray);
  --theme_dark--bg_brown: var(--theme_dark--select_brown);
  --theme_dark--bg_orange: var(--theme_dark--select_orange);
  --theme_dark--bg_yellow: var(--theme_dark--select_yellow);
  --theme_dark--bg_green: var(--theme_dark--select_green);
  --theme_dark--bg_blue: var(--theme_dark--select_blue);
  --theme_dark--bg_purple: var(--theme_dark--select_purple);
  --theme_dark--bg_pink: var(--theme_dark--select_pink);
  --theme_dark--bg_red: var(--theme_dark--select_red);

  --theme_dark--line-text: #0f111a;
  --theme_dark--line_gray: #e0e0e089;
  --theme_dark--line_brown: #d8b6a692;
  --theme_dark--line_orange: #fde3c09f;
  --theme_dark--line_yellow: #ffe6a6ad;
  --theme_dark--line_green: #a3be8ca3;
  --theme_dark--line_blue: #81a1c1a3;
  --theme_dark--line_purple: #b48eada8;
  --theme_dark--line_pink: #ffc0cbb1;
  --theme_dark--line_red: #bf616a9e;

  --theme_dark--callout-text: var(--theme_dark--line-text);
  --theme_dark--callout_gray: var(--theme_dark--line_gray);
  --theme_dark--callout_brown: var(--theme_dark--line_brown);
  --theme_dark--callout_orange: var(--theme_dark--line_orange);
  --theme_dark--callout_yellow: var(--theme_dark--line_yellow);
  --theme_dark--callout_green: var(--theme_dark--line_green);
  --theme_dark--callout_blue: var(--theme_dark--line_blue);
  --theme_dark--callout_purple: var(--theme_dark--line_purple);
  --theme_dark--callout_pink: var(--theme_dark--line_pink);
  --theme_dark--callout_red: var(--theme_dark--line_red);

  --theme_dark--code_inline-text: #b3f5c8;
  --theme_dark--code_inline-background: #00010a;
  --theme_dark--code-text: var(--theme_dark--text);
  --theme_dark--code-background: #00010a;
  --theme_dark--code_function: var(--theme_dark--text_blue);
  --theme_dark--code_keyword: var(--theme_dark--text_pink);
  --theme_dark--code_tag: var(--theme_dark--text_pink);
  --theme_dark--code_operator: var(--theme_dark--text_yellow);
  --theme_dark--code_important: var(--theme_dark--text_yellow);
  --theme_dark--code_property: var(--theme_dark--text_pink);
  --theme_dark--code_builtin: var(--theme_dark--text_yellow);
  --theme_dark--code_attr-name: var(--theme_dark--text_yellow);
  --theme_dark--code_comment: var(--theme_dark--text_gray);
  --theme_dark--code_punctuation: var(--theme_dark--text_gray);
  --theme_dark--code_doctype: var(--theme_dark--text_gray);
  --theme_dark--code_number: var(--theme_dark--text_purple);
  --theme_dark--code_string: var(--theme_dark--text_orange);
  --theme_dark--code_attr-value: var(--theme_dark--text_orange);
}
