[submodule "api"]
	path = api
	url = git@github.com:notion-enhancer/api.git
[submodule "repo"]
	path = repo
	url = git@github.com:notion-enhancer/repo.git
[submodule "media"]
	path = media
	url = git@github.com:notion-enhancer/media.git
