[submodule "api"]
	path = insert/api
	url = git@github.com:notion-enhancer/api.git
	branch = dev
[submodule "repo"]
	path = insert/repo
	url = git@github.com:notion-enhancer/repo.git
	branch = dev
[submodule "media"]
	path = insert/media
	url = git@github.com:notion-enhancer/media.git
	branch = main
[submodule "dep"]
	path = insert/dep
	url = git@github.com:notion-enhancer/dep.git
	branch = main
